@1f:registry=https://nexus.ts-paas.com/repository/ts-one-front-npm-repo
@onefront:registry=https://nexus.ts-paas.com/repository/ts-one-front-npm-repo
@vapor:registry=https://nexus.ts-paas.com/repository/ts-one-front-npm-repo/
//nexus.ts-paas.com/repository/ts-one-front-npm-repo/:_authToken=NpmToken.6059a953-64d4-3047-9a0a-0fa82401023d
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=625CF383-277F-4D83-BBDA-6FB616D490E5